html {
	color: #3e3f3a;
	font-family: 'freight-sans-pro',Verdana,Geneva,sans-serif;
	line-height: 25px;
	font-size: 18px;
}

html, body {
	margin:0;
	padding:0;
	color: #B2B3B1;
/*	background:#A6C776;*/
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?nzutsr');
	src:url('fonts/icomoon.eot?#iefixnzutsr') format('embedded-opentype'),
		url('fonts/icomoon.woff?nzutsr') format('woff'),
		url('fonts/icomoon.ttf?nzutsr') format('truetype'),
		url('fonts/icomoon.svg?nzutsr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}


a {
	text-decoration: none;
}

.fr {
	float:right;
}

.inl {
	display:inline;
}
.container {
	width:960px;
	margin:0 auto;
}

.nav-item {
	line-height: 42px;
	cursor:pointer;
	margin-left:20px;
}

.header {
	background:#3E3F3A;
	height:85px;
}

.header.expand {
	height: 300px;
}

.nav {
	height: 100px;
	padding:20px 0;
}

.account-trigger, .project-trigger{
	position:relative;
}
.menu {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: -1;
	margin-top: 1em;
	padding: .7em 0 .9em;
	background: #a6c776;
	border-radius: .2em;
	opacity: 0;
	-webkit-transform: scale(0.5) translateX(-50%) translateY(-20px);
	-ms-transform: scale(0.5) translateX(-50%) translateY(-20px);
	transform: scale(0.5) translateX(-50%) translateY(-20px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: all 200ms cubic-bezier(0.240,0.220,0.015,1.560),opacity 100ms linear;
	transition: all 200ms cubic-bezier(0.240,0.220,0.015,1.560),opacity 100ms linear;
	pointer-events: none;
}

.menu.right {
	-webkit-transform: scale(0.5) translateY(-20px);
	-ms-transform: scale(0.5) translateY(-20px);
	transform: scale(0.5) translateY(-20px);
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	left: auto;
	right: 100%;
	margin-right: -2em;
}

.menu.open {
	-webkit-transform: scale(1) translateX(-50%);
	-ms-transform: scale(1) translateX(-50%);
	transform: scale(1) translateX(-50%);
	opacity: 1;
	z-index: 10;
	pointer-events: auto;
}

.menu.right.open {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.menu.right::before {
	left: 100%;
	margin-left: -30px;
}

.menu::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border: 5px solid transparent;
	border-top-width: 0;
	border-bottom-color: #a6c776;
}

.menu a {
	display: block;
	white-space: nowrap;
	color: rgba(255,255,255,.8);
	line-height: 1.9;
	letter-spacing: 0.75px;
	padding: 0 1.8em;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}

.menu a:hover {
	background: #83a552;
}

.link {
	color: #838077;
	font-size: 13px;
	padding: 0 10px 0 15px;
	line-height: 42px;
}
.link:hover{
	color:#ece6da;
}

.link.notif {
	position:relative;
	display: inline-block;
	background: #353631;
	border-radius: 4px;
}

.bubble {
	position:absolute;
	height: 14px;
	width: 14px;
	top:-6px;
	right:-6px;	
	color:white;
	background:#a6c776;
	border-radius:50%;
}
.project-trigger {
	background: #353631;
	border-radius: 4px;
	color: #838077;
	font-size: 13px;
	line-height: 42px;
	padding: 0 10px 0 15px;
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fieldset {
	float:left;
	position:relative;
	border:0;
}

.label {
	position:absolute;
	top:-20px;
	text-transform: uppercase;
	font-size: .694444444em;
	color: #b4a995;
}

.input {
	border-radius: 3px;
	color:#F8F5F0;
	padding:0 14px;
	width:200px;
	outline: 0;
	height: 34px;
	border: 0;
	background: rgba(255,255,255,.2);
/*	background: #f8f5f0;*/
}

.btn {
	margin-left:20px;
	-webkit-transition: all 150ms linear;
	transition: all 150ms linear;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #A6C776;
	border: none;
	padding: 1.0625em 1.25em;
	line-height: 1;
	font-weight: 600;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	color: #F8F5F0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: center;
}

.btn:hover {
	background-color: #83A552;
	cursor:pointer;
}
.cancel {
	opacity:.5;
	background:#EC6C49;
}
.cancel:hover {
	background: #d96241;
	opacity:1;
}

.cancel:hover + .btn {
	opacity:.5;
}